<component name="ArtifactManager">
  <artifact type="war" name="spring-secrity:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="security-springmvc.war">
      <element id="artifact" artifact-name="spring-secrity:war exploded" />
    </root>
  </artifact>
</component>